n8n-workflows/03-lembretes-diarios.json
{
  "name": "Lembretes Diários",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hours": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Executar todo dia às 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.*, p.name as patient_name, p.phone \nFROM Appointment a \nJOIN Patient p ON a.patientId = p.id \nWHERE DATE(a.dateTime) = CURRENT_DATE + INTERVAL '1 day' \nAND a.status = 'SCHEDULED'"
      },
      "id": "get-appointments",
      "name": "Buscar Consultas de Amanhã",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "loop-over-appointments",
      "name": "Loop Consultas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTE_API_URL }}/message/send",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "Olá {{ $json.patient_name }}! 📅\n\nLembrete: Você tem consulta amanhã às {{ $json.time }}.\n\nPrecisa remarcar? É só responder esta mensagem.\n\nEquipe Sauvia"
            }
          ]
        },
        "options": {}
      },
      "id": "send-reminder",
      "name": "Enviar Lembrete WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Executar todo dia às 9h": {
      "main": [
        [
          { "node": "Buscar Consultas de Amanhã", "type": "main", "index": 0 }
        ]
      ]
    },
    "Buscar Consultas de Amanhã": {
      "main": [
        [
          { "node": "Loop Consultas", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Consultas": {
      "main": [
        [
          { "node": "Enviar Lembrete WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}