n8n-workflows/04-base-conhecimento-whatsapp.json
{
  "name": "Base de Conhecimento via WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-kb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Evolute",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.toLowerCase() }}",
              "operation": "contains",
              "value2": "plano"
            }
          ]
        }
      },
      "id": "check-keyword-plano",
      "name": "Busca por 'plano'?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "KnowledgeArticle",
        "filter": "category=Planos AND published=true",
        "limit": 3
      },
      "id": "get-planos-articles",
      "name": "Buscar Artigos de Planos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [750, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "KnowledgeArticle",
        "filter": "category=Nutrição AND published=true",
        "limit": 3
      },
      "id": "get-nutrition-articles",
      "name": "Buscar Artigos de Nutrição",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTE_API_URL }}/message/send",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "📚 Artigos encontrados:\n\n{{ $json.articles }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-articles",
      "name": "Enviar Artigos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}"
      },
      "id": "response",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Evolute": {
      "main": [
        [
          { "node": "Busca por 'plano'?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Busca por 'plano'?": {
      "main": [
        [
          { "node": "Buscar Artigos de Planos", "type": "main", "index": 0 }
        ],
        [
          { "node": "Buscar Artigos de Nutrição", "type": "main", "index": 0 }
        ]
      ]
    },
    "Buscar Artigos de Planos": {
      "main": [
        [
          { "node": "Enviar Artigos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Buscar Artigos de Nutrição": {
      "main": [
        [
          { "node": "Enviar Artigos", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}