n8n-workflows/05-automacao-suporte.json
{
  "name": "Automação de Suporte",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Novo Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "Ticket",
        "columns": {
          "userId": "={{ $json.userId }}",
          "subject": "={{ $json.subject }}",
          "description": "={{ $json.description }}",
          "priority": "={{ $json.priority }}",
          "status": "OPEN"
        }
      },
      "id": "create-ticket",
      "name": "Criar Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.priority }}",
              "operation": "equal",
              "value2": "URGENT"
            }
          ]
        }
      },
      "id": "check-urgent",
      "name": "É Urgente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 *Novo Ticket Urgente*\n\n*Assunto:* {{ $json.subject }}\n*Prioridade:* Urgente\n*Descrição:* {{ $json.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notificar Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.FROM_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Confirmação de Ticket - {{ $json.subject }}",
        "body": "Olá!\n\nSeu ticket foi criado com sucesso.\n\n*Assunto:* {{ $json.subject }}\n*Prioridade:* {{ $json.priority }}\n\nNosso time vai analisar e responder em breve.\n\nEquipe Sauvia"
      },
      "id": "send-confirmation",
      "name": "Email de Confirmação",
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, ticketId: $json.id } }}"
      },
      "id": "response",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Novo Ticket": {
      "main": [
        [
          { "node": "Criar Ticket", "type": "main", "index": 0 }
        ]
      ]
    },
    "Criar Ticket": {
      "main": [
        [
          { "node": "É Urgente?", "type": "main", "index": 0 }
        ]
      ]
    },
    "É Urgente?": {
      "main": [
        [
          { "node": "Notificar Slack", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email de Confirmação", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notificar Slack": {
      "main": [
        [
          { "node": "Resposta", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email de Confirmação": {
      "main": [
        [
          { "node": "Resposta", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}